/**
 * Place your custom CSS styles here.
 **/
#sync-wrapper {
    margin-top: 2rem;
    text-align: center;
    color: #eee;
    background: #4a4a4a;
    padding: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4rem;
}

#sync-wrapper h1 {
    position: absolute;
    font-size: 18px;
    font-weight: normal;
    background: #292929;
    left: 0;
    top: 0;
    margin: 0;
    padding: 1rem 1.5rem;
    color: orange;
    font-size: 14px;
    border-bottom-right-radius: 1rem;
}

#indicator {
    display: inline-block;
    background: tomato;
    padding: .25rem .5rem;
    border-radius: 5px;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 0 .25rem;
}

#room-count {
    display: none;
    color: #333;
    background: #ffb52d;
    padding: .25rem .5rem;
    border-radius: 5px;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 0 .25rem;
}

#indicators {
    margin-bottom: .5rem;
}

#indicator.online {
    background: limegreen;
}

#remote-control {
    display: none;
}
